USE [master]
GO
/****** Object:  Database [RegistroDeHospitales]    Script Date: 20-05-2025 1:35:40 ******/
CREATE DATABASE [RegistroDeHospitales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RegistroDeHospitales', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RegistroDeHospitales.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RegistroDeHospitales_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RegistroDeHospitales_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegistroDeHospitales].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegistroDeHospitales]
GO
/****** Object:  Table [dbo].[Consultas]    Script Date: 20-05-2025 1:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultas](
	[ConsultaID] [int] IDENTITY(1,1) NOT NULL,
	[FechaConsulta] [datetime] NOT NULL,
	[TipoConsulta] [varchar](100) NOT NULL,
	[PacienteID] [int] NULL,
	[MedicoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialMedico]    Script Date: 20-05-2025 1:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialMedico](
	[HistorialID] [int] IDENTITY(1,1) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[DescripcionTratamiento] [varchar](1000) NULL,
	[Observaciones] [varchar](1000) NULL,
	[PacienteID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistorialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 20-05-2025 1:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[PacienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[ContactoEmergencia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PacienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalMedico]    Script Date: 20-05-2025 1:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalMedico](
	[MedicoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Especializacion] [varchar](50) NOT NULL,
	[Horario] [time](7) NOT NULL,
	[Licencia] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 20-05-2025 1:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[SalaID] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](100) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consultas]  WITH CHECK ADD FOREIGN KEY([MedicoID])
REFERENCES [dbo].[PersonalMedico] ([MedicoID])
GO
ALTER TABLE [dbo].[Consultas]  WITH CHECK ADD FOREIGN KEY([PacienteID])
REFERENCES [dbo].[Pacientes] ([PacienteID])
GO
ALTER TABLE [dbo].[HistorialMedico]  WITH CHECK ADD FOREIGN KEY([PacienteID])
REFERENCES [dbo].[Pacientes] ([PacienteID])
GO
/****** Object:  StoredProcedure [dbo].[SP_AsignarPersonalMedico]    Script Date: 20-05-2025 1:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_AsignarPersonalMedico]
    @PacienteID INT,
    @MedicoID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NombreMedico VARCHAR(50);
    DECLARE @NombrePaciente VARCHAR(50);
    DECLARE @ApellidoPaciente VARCHAR(50);

    -- Obtener el nombre del médico
    SELECT @NombreMedico = Nombre
    FROM PersonalMedico
    WHERE MedicoID = @MedicoID;

    -- Obtener el nombre completo del paciente
    SELECT @NombrePaciente = Nombre, @ApellidoPaciente = Apellido
    FROM Pacientes
    WHERE PacienteID = @PacienteID;

    -- Insertar en Historial
    INSERT INTO HistorialMedico (
        FechaRegistro, 
        DescripcionTratamiento, 
        Observaciones, 
        PacienteID
    )
    VALUES (
        GETDATE(),
        'Asignación de personal médico',
        CONCAT('El médico ', @NombreMedico, ' fue asignado al paciente ', @NombrePaciente, ' ', @ApellidoPaciente),
        @PacienteID
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GenerarReporteOcupacionCamas]    Script Date: 20-05-2025 1:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_GenerarReporteOcupacionCamas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Tipo,
        COUNT(*) AS TotalCamas,
        SUM(CASE WHEN Estado = 'Ocupada' THEN 1 ELSE 0 END) AS CamasOcupadas,
        CAST(SUM(CASE WHEN Estado = 'Ocupada' THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS DECIMAL(5,2)) AS PorcentajeOcupacion
    FROM Salas
    GROUP BY Tipo;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerHistorialPaciente]    Script Date: 20-05-2025 1:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------------------------------------------------------------------------------------------------------


CREATE PROCEDURE [dbo].[SP_ObtenerHistorialPaciente]
    @PacienteID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        FechaRegistro, 
        DescripcionTratamiento, 
        Observaciones
    FROM HistorialMedico
    WHERE PacienteID = @PacienteID
    ORDER BY FechaRegistro DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ProgramarConsulta]    Script Date: 20-05-2025 1:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------------------------------------------------


CREATE PROCEDURE [dbo].[SP_ProgramarConsulta]
    @FechaConsulta DATETIME,
    @TipoConsulta VARCHAR(100),
    @PacienteID INT,
    @MedicoID INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Consultas (FechaConsulta, TipoConsulta, PacienteID, MedicoID)
    VALUES (@FechaConsulta, @TipoConsulta, @PacienteID, @MedicoID);
END;
GO
USE [master]
GO
